<a href="https://colab.research.google.com/github/JuanDavidBoteroRuiz/EntregaMinDat/blob/main/SR_Basado_en_items.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
url_movie = 'https://drive.google.com/uc?id=1H64TOo4OQYnDPn50x1zMkF0bZhqhYaeB'
url_rating = 'https://drive.google.com/uc?id=12vtDPA2TogM4fho6Av8hkcOQI0-BRYDd'

In [ ]:
peliculas = pd.read_csv(url_movie)

In [ ]:
# Se preparan los datos
peliculas['year'] = peliculas.title.str.extract('(\(\d\d\d\d\))',expand = False)
peliculas['year'] = peliculas.year.str.replace('(','').str.replace(')','') 
peliculas['title'] = peliculas.title.str.replace('(\(\d\d\d\d\))','')
peliculas['title'] =peliculas['title'].apply(lambda x: x.strip())
peliculas['genres'] = peliculas.genres.str.split('|') #Ahora se dividen los valores de la columna de generos en una lista de generos para simplificar el uso futuro, lo haremos con una funcion de cadena dividia de python

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [ ]:
rating = pd.read_csv(url_rating).drop('timestamp',1)
ratings = pd.merge(peliculas,rating).drop('year',1).drop('genres',1)
ratings

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

         movieId            title  userId  rating
0              1        Toy Story       3     4.0
1              1        Toy Story       6     5.0
2              1        Toy Story       8     4.0
3              1        Toy Story      10     4.0
4              1        Toy Story      11     4.5
...          ...              ...     ...     ...
1048570   130219  The Dark Knight    1339     4.5
1048571   130462          The Boy    5731     4.0
1048572   130490        Insurgent    2423     1.0
1048573   130490        Insurgent    3397     3.5
1048574   130642      Backcountry    3858     3.0

[1048575 rows x 4 columns]

In [ ]:
movie_ratings = ratings.pivot_table(values="rating", index=["userId"], columns=["title"]) # Se genera una tabla con tantos registros como usuarios existan y con tantas columnas como peliculas existan, asignando la calificacion correspondiente.
movie_ratings.head()

title,"""Great Performances"" Cats",$5 a Day,'71,'Hellboy': The Seeds of Creation,'Neath the Arizona Skies,'R Xmas,'Round Midnight,'Salem's Lot,'Til There Was You,"'burbs, The",...,[REC],[REC]Â²,[REC]Â³ 3 GÃ©nesis,eXistenZ,loudQUIETloud: A Film About the Pixies,xXx,xXx: State of the Union,Â¡Three Amigos!,Ã€ nos amours,Ã€ nous la libertÃ© (Freedom for Us)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
corr_matrix = movie_ratings.corr()
corr_matrix.head()

title,"""Great Performances"" Cats",$5 a Day,'71,'Hellboy': The Seeds of Creation,'Neath the Arizona Skies,'R Xmas,'Round Midnight,'Salem's Lot,'Til There Was You,"'burbs, The",...,[REC],[REC]Â²,[REC]Â³ 3 GÃ©nesis,eXistenZ,loudQUIETloud: A Film About the Pixies,xXx,xXx: State of the Union,Â¡Three Amigos!,Ã€ nos amours,Ã€ nous la libertÃ© (Freedom for Us)
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$5 a Day,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Neath the Arizona Skies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
corr_matrix.style.background_gradient(cmap='Greens')

/usr/local/lib/python3.7/dist-packages/pandas/io/formats/style.py:2813: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
/usr/local/lib/python3.7/dist-packages/pandas/io/formats/style.py:2814: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

In [ ]:
toystory_ratings = movie_ratings["Toy Story"] # nos traremos los rating de esta pelicula
toystory_ratings

userId
1       NaN
2       NaN
3       4.0
4       NaN
5       NaN
       ...
7116    4.0
7117    4.0
7118    NaN
7119    5.0
7120    4.5
Name: Toy Story, Length: 7120, dtype: float64

In [ ]:
similar_movies = movie_ratings.corrwith(toystory_ratings) # se calcula la correlacion de dicha pelicula con todas las demas
similar_movies = similar_movies.dropna()
df = pd.DataFrame(similar_movies)
df.head(10)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                                   0
title
'Round Midnight                            -1.000000
'Salem's Lot                               -1.000000
'Til There Was You                          0.258998
'burbs, The                                 0.054398
'night Mother                               0.305156
(500) Days of Summer                        0.246431
*batteries not included                     0.109897
...All the Marbles (California Dolls, The) -1.000000
...And God Spoke                           -1.000000
...And Justice for All                      0.226432

In [ ]:
similar_movies.sort_values(ascending=False).head(10) # nos traemos las peliculas con mayor similaridad

title
Louis C.K.: Live at The Comedy Store             1.0
Jekyll                                           1.0
Mutant Action (AcciÃ³n Mutante)                   1.0
Elementary Particles, The (Elementarteilchen)    1.0
Hidden Agenda                                    1.0
Congress, The                                    1.0
Action in the North Atlantic                     1.0
April's Shower                                   1.0
Desperate Hours                                  1.0
Hells Angels on Wheels                           1.0
dtype: float64

In [ ]:
import numpy as np

movie_stats = ratings.groupby("title").rating.agg(["count","mean"]) # Se hace un contea y se calula la media de cada pelicula pasa saber cuales son las mÃ¡s calificadas y luego excluir las menos frecuentes
movie_stats.sort_values("count",ascending=False).head # se ordena segun el conteo

<bound method NDFrame.head of                            count      mean
title
Pulp Fiction                3498  4.153516
Forrest Gump                3476  4.056530
Silence of the Lambs, The   3247  4.184786
Shawshank Redemption, The   3216  4.469994
Jurassic Park               3129  3.680409
...                          ...       ...
Saint Laurent                  1  3.000000
Moving Midway                  1  4.000000
Saint John of Las Vegas        1  2.500000
Brothers in Trouble            1  4.000000
Captain from Castile           1  3.000000

[13555 rows x 2 columns]>

In [ ]:
threshold = 1000 #se asigna un limite inferior para filtrar las peliculas segun el conteo y sacar de la lista las menos calificadas
popular_movies = movie_stats['count'] >= threshold
movie_stats[popular_movies].sort_values(['mean'], ascending=False)[:20]

                                                    count      mean
title
Shawshank Redemption, The                            3216  4.469994
Godfather, The                                       2137  4.388161
Usual Suspects, The                                  2490  4.370482
Schindler's List                                     2598  4.295612
Godfather: Part II, The                              1418  4.278561
Casablanca                                           1282  4.268721
Dark Knight, The                                     1031  4.242968
One Flew Over the Cuckoo's Nest                      1538  4.235696
Dr. Strangelove or: How I Learned to Stop Worry...   1257  4.220366
Fight Club                                           2085  4.219185
Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)        1246  4.217496
Raiders of the Lost Ark (Indiana Jones and the ...   2289  4.206204
Goodfellas                                           1373  4.192280
Star Wars: Episode IV - A New Hope                   2874  4.189457
Memento                                              1597  4.186600
Silence of the Lambs, The                            3247  4.184786
Monty Python and the Holy Grail                      1713  4.179802
Princess Bride, The                                  1725  4.177391
Matrix, The                                          2705  4.176340
American History X                                   1211  4.165979

In [ ]:
df = movie_stats[popular_movies].join(pd.DataFrame(similar_movies, columns=['similarity'])) # asignamos la similaridad a cada pelicula
df.head()

                                count      mean  similarity
title
2001: A Space Odyssey            1317  3.944951    0.117774
Ace Ventura: Pet Detective       2015  2.969479    0.214729
Ace Ventura: When Nature Calls   1097  2.587056    0.181031
Aladdin                          2152  3.678671    0.416944
Alien                            1639  4.011897    0.235521

In [ ]:
df.sort_values(['similarity'], ascending=False)[:20] # se ordenan las peliculas segun similaridad para que sean estas las peliculas a recomendar

                                     count      mean  similarity
title
Toy Story                             2569  3.959323    1.000000
Toy Story 2                           1180  3.854237    0.766896
Finding Nemo                          1224  3.863562    0.557163
Bug's Life, A                         1075  3.582326    0.554016
Monsters, Inc.                        1256  3.865844    0.534083
Incredibles, The                      1061  3.909048    0.476013
Babe                                  1694  3.647285    0.430191
Shrek                                 1696  3.829894    0.427351
Back to the Future                    2186  3.919488    0.422373
Aladdin                               2152  3.678671    0.416944
Lion King, The                        2006  3.781904    0.409443
Spider-Man                            1256  3.547771    0.400024
Ghostbusters (a.k.a. Ghost Busters)   1552  3.752577    0.389704
Beauty and the Beast                  1794  3.636288    0.386290
Apollo 13                             2512  3.867237    0.377354
Big                                   1033  3.610358    0.376887
Men in Black (a.k.a. MIB)             1917  3.575117    0.362565
Green Mile, The                       1082  3.975508    0.346645
Jaws                                  1167  3.797344    0.343620
Mummy, The                            1036  3.213320    0.343248